<% if @square_grid.present? %>
  <div id = 'square_grid_div'>
    <div class="box-header grd-white corner-top">
      <h3 class = "h3_class"><u>Square Grid <%= @square_grid.rows %> * <%= @square_grid.cols %></u></h3>
    </div>
    <div class="form-horizontal">
      <div class="box-body">
        <%= get_color_picker_div %>
        <div class="form-group">
          <div class ="controls" >
            <SquareGrid>
              <% @square_grid.cols_data_hash.each do |k,v| %>
                <%= get_square_grid_element(k, v)%>
              <% end %>
            </SquareGrid>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>